@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=News+Cycle&family=Outfit:wght@400;700&family=Ubuntu&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 65%);
    --Dark-blue: hsl(218, 44%, 22%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
* {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}
  
  
body {
  
    min-height: 100vh;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    padding: 16px;
    border-radius: 19px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--White);
}

.card > img {
    max-width: 100%;
    border-radius: 10px;
}
  
.title {
    text-align: center;
    margin: 22px 0;
    font-size: 1.4rem;
    color: var(--Dark-blue)
}

.para {
    color: var(--Grayish-blue);
    width: 16.1rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
   
} 

a {
    text-decoration: none;
    color: red;
    position: absolute;
    right: 90px;
    bottom: 35px;
    transform: rotate(-20deg);
}

.mentor {
    color: yellowgreen;
    bottom: 55px;
    right: 70px;
    transform: rotate(-20deg);
    position: absolute;
}